<tr>
  <td><%= num.name %></td>
  <td><%= num.phone_number %></td>
  <td class="notif-active-toggle">
    <input id="switch-state" type="checkbox" data-size="mini"
    checked="<%= num.active %>">
  </td>
</tr>
