<div class="row">
  <div id="lbo1" class="col-sm-6 col-md-6 col-lg-6 landing-box">
    <div id="lbi1" class="landing-box-inner" >
      <h2>Setup your routes</h2>
      <p class="landing-box-desc">Bacon ipsum dolor amet eiusmod ball tip capicola, pork chop ham hock non doner deserunt anim drumstick. Elit frankfurter short loin spare ribs, fatback.</p>
      <div class="landing-infographic-outer">
        <div class="landing-infographic-inner">
          <h4>Infographic</h4>
        </div>
      </div>
      <p class="landing-btn">
        <a href="#" target="_blank" class="btn btn-default btn-landing">
          <%= icon("bus", "", class: "btn-landing-icon") %> Learn More
        </a>
      </p>
    </div>
  </div>
  <div id="lbo2" class="col-sm-6 col-md-6 col-lg-6 landing-box">
    <div id="lbi2" class="landing-box-inner" >
      <h2>Text when you're ready</h2>
      <p class="landing-box-desc">Bacon ipsum dolor amet eiusmod ball tip capicola, pork chop ham hock non doner deserunt anim drumstick. Elit frankfurter short loin spare ribs, fatback.</p>
      <div class="landing-infographic-outer">
        <div class="landing-infographic-inner">
          <h4>Infographic</h4>
        </div>
      </div>
      <p class="landing-btn">
        <a href="#" target="_blank" class="btn btn-default btn-landing">
          <%= icon("bus", "", class: "btn-landing-icon") %> Learn More
        </a>
      </p>
    </div>
  </div>
</div>
<div class="row">
  <div id="lbo3" class="col-sm-6 col-md-6 col-lg-6 landing-box">
    <div id="lbi3" class="landing-box-inner" >
      <h2>We'll let you know</h2>
      <p class="landing-box-desc">Bacon ipsum dolor amet eiusmod ball tip capicola, pork chop ham hock non doner deserunt anim drumstick. Elit frankfurter short loin spare ribs, fatback.</p>
      <div class="landing-infographic-outer">
        <div class="landing-infographic-inner">
          <h4>Infographic</h4>
        </div>
      </div>
      <p class="landing-btn">
        <a href="#" target="_blank" class="btn btn-default btn-landing">
          <%= icon("bus", "", class: "btn-landing-icon") %> Learn More
        </a>
      </p>
    </div>
  </div>
  <div id="lbo4" class="col-sm-6 col-md-6 col-lg-6 landing-box">
    <div id="lbi4" class="landing-box-inner" >
      <h2>Set your schedule</h2>
      <p class="landing-box-desc">Bacon ipsum dolor amet eiusmod ball tip capicola, pork chop ham hock non doner deserunt anim drumstick. Elit frankfurter short loin spare ribs, fatback.</p>
      <div class="landing-infographic-outer">
        <div class="landing-infographic-inner">
          <h4>Infographic</h4>
        </div>
      </div>
      <p class="landing-btn">
        <a href="#" target="_blank" class="btn btn-default btn-landing">
          <%= icon("bus", "", class: "btn-landing-icon") %> Learn More
        </a>
      </p>
    </div>
  </div>
</div>
