<div id="not-found" class="container">
  <div class="row">
    <h1>Uh oh! You've ripped a hole in the internets.</h1>
    <h2>[404 Error]</h2>
  </div>
  <div class="row">
    <%= image_tag '404.jpg' %>
  </div>
</div>
