<div class="footer">
  <div id="footer-top">
    <div class="container">
      <div class="row">
        <div class="col-lg-4 col-md-3 col-sm-2 footer-logo">
          <%= image_tag "rtd-assist-logo-sq.png", class: "footer-logo-img"%>
          <p>
            A <a href="mailto:nowsiany@gmail.com">Nathan Owsiany</a> Joint
          </p>
        </div>
        <div class="col-lg-8 col-md-9 col-sm-10 footer-info">
          <div class="col-lg-4 col-md-4 col-sm-5">
            <h4>Contact Us</h4>
            <h3 id="support-email"><a href="mailto:support@rtdassist.com">support@RTDassist.com</a></h3>
            <p>For any support needs send us an email and we'll get back to you ASAP!</p>
          </div>
          <div class="col-lg-4 col-md-4 col-sm-4 footer-links">
            <h4>Information</h4>
            <p><a href="#">Contribute to this App's Development</a></p>
            <p><a href="#">About this Project</a></p>
            <p><a href="#">Contact Nathan</a></p>
          </div>
          <div class="col-lg-4 col-md-4 col-sm-3 footer-links">
            <h4>Like Us</h4>
            <p><a href="#">Facebook</a></p>
            <p><a href="#">Twitter</a></p>
            <p><a href="#">News</a></p>
            <p><a href="#">Blog</a></p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div id="footer-bottom">
    <div class="container">
      <div class="copyright pull-right">
        <p>© Copyright 2015 RTD Assist</p>
      </div>
    </div>
  </div>
</div>
