<div id="landing-login" class="container login-drop-wrap">
  <form class="navbar-form navbar-right" role="search">
    <div id="landing-login-drop-email" class="form-group">
      <input type="text" class="form-control" name="email" placeholder="Email Address">
    </div>
    <div class="form-group">
      <input type="text" class="form-control" name="password" placeholder="Password">
    </div>
    <button type="submit" class="btn btn-default btn-landing-nav">
      <%= icon("sign-in", "", class: "navbar-link-icon" ) %> Sign In
    </button>
  </form>
</div>
