<nav id="navbar" class="navbar navbar-default navbar-static-top" role="navigation">
  <!-- brand and toggle get grouped for better mobile display -->
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbarcollapse">
        <span class="sr-only">toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <%= link_to image_tag('rtd-assist-logo.png', id: "nav-logo"), root_url %>
    </div>
    <div class="collapse navbar-collapse" id="navbarcollapse">
      <ul id="navbar-links" class="nav navbar-nav navbar-right login-drop-wrap">
        <li id="login-nav-btn" data-nav-name="landing-login">
          <%= link_to "#" do %>
            <p><%= icon("sign-in", "", class: "navbar-link-icon" ) %> Login</p>
          <% end %>
        </li>
      </ul>
    </div>
  </div>
</nav>
<%= render 'shared/login_dropdowns' %>
