<h2>Request an RTD Notification</h2>
<form class="form-inline">
  <div class="form-group">
    <select class="form-control input-lg">
      <option selected disabled>Leaving when?</option>
      <option>Now</option>
      <option>5 Minutes</option>
      <option>10 Minutes</option>
      <option>15 Minutes</option>
      <option>20 Minutes</option>
      <option>30 Minutes</option>
    </select>
  </div>
  <div class="form-group ui-widget">
    <input type="text" class="form-control input-lg location-input" id="from" placeholder="From...">
  </div>
  <div class="form-group ui-widget">
    <input type="text" class="form-control input-lg location-input" id="to" placeholder="To...">
  </div>
  <div class="form-group">
    <button type="submit" class="btn btn-success btn-lg">Request Notification</button>
  </div>
</form>
