$light-grey: #f4f4f4;
$light-grey-opaque: transparentize($light-grey, 0.1);
$medium-grey: #dcdcdc;
$dark-grey: #545454;
$rtd-red: #f43e3e;
$footer-medium-grey: #454545;
$footer-dark-grey: #333333;
$footer-light-grey: #b2b2b2;
