#navbar {
  border: 0;
  background-color: $light-grey;
  margin: 0;

  #nav-logo {
    height: 80px;
  }

  #navbar-links {
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
    height: 80px;
    display: inline-block;
    margin-right: 0;

    .hovered {
      background-color: white;
      border-bottom: 1px solid $light-grey;
      a {
        color: $rtd-red;
      }
    }

    a {
      display: inline-block;
      color: $dark-grey;
      line-height: 80px;
      padding: 0 25px;
      border-left: 1px solid $medium-grey;
      border-right: 1px solid $medium-grey;

      &:first-child {
        border-right: none;
      }
    }

    p {
      margin-bottom: 0;
    }

    .navbar-link-icon {
      color: $rtd-red;
    }
  }
}


.nav-dropdown {
  display: none;

  #oauth-login-btns {
    a {
      font-size: 11.5px;
      margin-top: 23px;
    }
  }

  #landing-login-form {
    margin-right: 0;

    .form-control {
      border-radius: 0;
      margin: 10px 5px;
    }

    .btn-landing-nav {
      border-radius: 0;
      margin-left: 5px;
    }

    #landing-login-drop-email {
      input {
        width: 250px;
      }
    }

    .btn-landing-nav {
      font-weight: bold;

      .navbar-link-icon {
        color: $rtd-red;
      }

      &:hover {
        color: $rtd-red;
      }
    }
  }

  #dash-dropdown {
    .navbar-nav {
      display: inline-block;
      float: none;
      vertical-align: top;
    }

    .navbar {
      text-align: center;
      background: white;
      border: none;
      margin-bottom: 0;
    }

    li {
      padding: 0 20px;
      border-left: 1px solid $light-grey;
      border-right: 1px solid $light-grey;

      &:first-child {
        border-left: 2px solid $light-grey;
      }

      &:last-child {
        border-right: 2px solid $light-grey;
      }
    }

    p {
      margin-bottom: 0;
      font-size: 18px;
      text-transform: uppercase;
    }

    a {
      &:hover {
        color: $rtd-red;
      }
    }

    .navbar-link-icon {
      color: $rtd-red;
    }
  }
}

